# Environment
feedback-analysis-agent/

# .env
.env

# notebook and test
notebook.ipynb
test.py
test.ipynb

# output data
output/

# python cache
__pycache__

# others
feedback-analysis-agent-main.zip
desktop.ini
capstone_project_plan.pdf
3030_capstone_project_v1_xkd_o69dky8.pdf